.footer-subscribe {
  margin-left: auto;
  display: block;

  &-title {
    margin-top: 72px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-text-color;
  }
}

.footer-email {
  margin-right: 12px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  width: 358px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: $transition;

  border: 1px solid $footer-email-border;
  border-radius: 4px;

  background-color: $background-top-footer;
  color: $footer-email;

  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.button-subscribe {
  width: 200px;
  height: 50px;
  float: right;

  background-color: $accent-color;
  color: $white-text-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  border: none;
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  cursor: pointer;

  &-container {
    position: relative;
  }
}

.subscribe-svg {
  position: absolute;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-right: 28px;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
