.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  box-shadow: $box-shadow;
  border-radius: 4px;
  background-color: $primary-background-color;

  &-title {
    padding-top: 40px;
    padding-bottom: 12px;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: $primary-text-color;
  }
}
