.svg-button {
  width: 30px;
  height: 30px;
}

.button-modal {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding-top: 8px;
  padding-right: 8px;

  transition: $transition;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
