.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &-icon {
    display: flex;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid $primary-text-color;
    border-radius: 2px;
    fill: $primary-background-color;
    transition: $transition;
  }
}

.checkbox:hover + .checkbox-icon,
.checkbox:focus + .checkbox-icon {
  border-color: $accent-color;
}

.checkbox:checked + .checkbox-icon {
  border: none;
  fill: $accent-color;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-contain {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.form-label-checkbox {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: $secondary-text-color;
}

.checkbox-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $accent-color;
}
