.form {
  position: relative;
  display: flex;
  flex-direction: column;

  &-input {
    padding: 10px;
    padding-left: 42px;
    margin-bottom: 10px;
    border: 1px solid $border-input;
    border-radius: 4px;

    transition: $transition;
  }

  &-input:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.form-textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid $border-input;
  border-radius: 4px;
  transition: $transition;

  &:focus {
    border-color: $accent-color;
    outline: none;
  }

  &::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;

    color: $text-area;
  }
}

.form-label {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  color: $secondary-text-color;
}
