.orientation {
  padding-bottom: 94px;
  background-color: $primary-background-color;

  &-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: $primary-text-color;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
