.orientation-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $primary-text-color;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  display: none;
}

.orientation-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  max-height: 294px;
  list-style: none;
  display: flex;
  display: none;

  &-item {
    display: block;
    position: relative;
    display: none;
  }

  &-item:not(:last-child) {
    margin-right: 30px;
    display: none;
  }
}

.orientation-box {
  position: absolute;
  bottom: 0;
  display: block;
  text-align: center;
  width: 370px;
  height: 70px;
  background-color: $orientation-box-color;
  display: none;
}

.orientation-text {
  margin: 0;
  padding-top: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text-color;
  display: none;
}
