.action-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.action-text {
  margin: 0;
  width: 322px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;

  color: $white-text-color;
}
