.flex-elements {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow $transition;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(n + 7) {
    margin-bottom: 94px;
  }
}

.flex-elements {
  &:hover,
  &:active,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
