.social-network {
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  align-items: center;
  width: 206px;
  height: 44px;
}

.social-network-button {
  display: inline-flex;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $icons-color;
  transition: 250ms $transition;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-network-button:hover,
.social-network-button:focus,
.social-network-button:active {
  background-color: $accent-color;
  fill: $white-text-color;
}
