.team {
  padding-bottom: 60px;
  background-color: $secondary-background-color;
  text-align: center;

  .team-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 30px;
    color: $primary-text-color;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.team-images {
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
}

.team-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  display: block;
}

.team-item {
  max-width: 450px;
  max-height: 622px;
  background-color: $primary-background-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: $box-shadow;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
