.person-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.person-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 16px;
  color: $secondary-text-color;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}
