.team {
  padding-bottom: 94px;

  background-color: $secondary-background-color;
  text-align: center;

  &-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 101px;
    padding-bottom: 50px;

    color: $primary-text-color;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
