.top {
  display: block;
  height: 400px;
  max-width: 1600px;
  margin-bottom: 60px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;

  &-title {
    display: inline-block;
    align-items: center;
    max-width: 360px;
    padding-top: 118px;
    margin-top: 0;
    margin-bottom: 30px;
    color: $white-text-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
